@font-face { 
  font-family: 'a11y-ui';
  src: url(data:font/woff2;base64,d09GMgABAAAAAAZUAA8AAAAADoAAAAX6AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGhgbIByBUAZgAIMuEQgKjgSKXAs0AAE2AiQDZAQgBYMbB4EUG6ILo6KUEepC/EWCTUVpfnQwpjDWxQ2ipWx6aR6GRYgNHfuDd4j3PvHWn4ymnsYE/+B+v3O3vedfMY0qWUwamWyJRBQtgUSDFshe0n4+L3s/mgpICnFQ26fu7pEmD5+3t+1fQddtFAcaUEKJDWVgse4SyMtGpXK2D+V/XPvdVSRC42fUS3YrQd/qVu2LS0J98sd+rv6325tpXRJr+ytl0UpZyCLe5qg31U4JHCF91lCJ4pEjNE0c10mRUiKP8Kq2PRgOfOJCgACfvPEB+N5+9bQjC+SgDAYd6OKpVipQTyzJAz4O4D0QxUo7mwsDIubc5niASM9MTwQpgJK1iuPotcbkCqnMQIAYJRCnhoCioligJJALxYxQPSksiVgoFYs0IGUKyviIU48UewQr80Id/ixGJ3ME3U0DTCMkEAiVVMnBy4cGCGCGOQPcmxvRx2hKYGtqUE2Cfyl7/H/b6mY9WAWC/TsJALsMtwa3vrLkJSbchIpN3YN0Kp3ErPV/vc+iNXGiWaJ2/gv8Z5AiKJrgwAsgVgBCkRhAAiCVgVxBEZSUiZMgCaglTQYA0EAOgBZQAQBlwABbCs4/iUC4xpAg3cj3IqVWkQAwEP1edZYmAIwAWoC5AfMSuqD2k5iJLUPTnIW/4jXRuiVlI39c3QoofGwbkxHF9ImEVYq1q+JBhBKEKgVICmN1S4lDl+t/JnmHzflOn8b2jmZ/LJp5HdYf5xfgNFHGhLRrHUsAJWgTg5AWsHt9ul9YINk/MmWO+6epYHj/5Q2xZI0J/7Xx0Hi2Km2ag8nRrFTyWjDgU8a5odRSa35ttW6y0DD2nZHMRMGoBmwbpYWT2D5Z4zgUusrIzgU6jx/oAjn82iQ/nF5ua6t6tvOuVW8k51exj2moPB4AwFxlzIRYJCbcx+N9ZMceovOFmL8j1E6bl8Uae9VnrKlb5aUDG7jAIEBBIc9Wr9SjycxD0SIKotgmsF1uFX3S4fzq2iBdfojTmeduEgu57TFbnABAc4JqLBn7jmnIUSLaLK/t0trqSS5GP/QQIk+yHRfC2l9doVBGtt5f9jG1tt5n4ZVu9NlsbOsqMDoUSbkXhvm5ZLiPwXCxkFDJElrL8HDxKwiTckViBC79VmZ+eWmEYUg4sDyNbZSQPyFDCiLuIRbrEA8JUjIT+QlG7MBuQgGADIrtk6EGOKGGzpvRbm70FAV7nme+hwMblK7Ltu9yt+i2D2Z3O5ib23cHe4m73c2v0jBITPWbYH79ge9DCdIW9M0bIZo+kf//tbZq8mZ7aaZ3VoM32vrP+0bwNIOLDH3jZhR5xP//rS1NjK5Eh7g8poSgf3d3YsIerT2nNc/U1+/W2r21tUfTXQZHjks2pJHW/z7Cl6dBMBKehi9nRGMyA1UIzbbvsnDvsmezVczdwjkn2+tycG830eAy/M5Wip/S5+gLHV3hXWTpc/W3Y6Ii+eVLjRFiCVMCUvxvrfTUXNWavQYBV5OGwHbBdoNE49POJmDQ8/tHtB1lSAOSX1IAZ+GUEIVRGKFAlGi6TVWojYE63Hz/zXWXC5NIAF6mC1wwGoPjDHm0cpY4sa50PzWcjeEYJovn0ZXAhI6ujMpj7qoQOT6noSwvNMPZvcKao7RyJUZwe0eA9eMdusFTR6l8TSHLIKffAfpTdaVE8quBFkEZQaErK0wTAUhwyPYn5+/+uzQJRxQohJZvXvW02CFe1OHr4NiOKygnw58GewDEDADhorYVHDBWC8toCqR6wERGyC2xF66/2zsAgSbHwZaiKHqjdomUnWCwCyxOgsNDVSBzqQpFXvZONbsEliJBigAw2AgWh8DhoipQL0EVKrq+39SYGScYjErGSmWCk4upNC7NBNiWKl2pHImKwJteLgSSTDDorPtSFSmWKV8eNQwTNLijbI2MCZ08OJ/MXzJvTZcqLzPdRCVSpeSTVBpkX8nyBcpvyWMCHhEcdS9KwTc5/4+WnORR4tmagDImWaxZXrz58BckGAcXT6gw4SJSKFCoSLGS6Cwvk2a3SWOEnrZojhZ0Lz5jHrAA);
}

/* mod */

@supports (writing-mode: sideways-lr) {
    body>footer {
        padding: 1rem 1ex 6rem;
    }
}

/*  container  */

#has-a11y-summary,
#a11y {
    position: fixed;
    bottom: 3rem;
    right: 1ex;
}

#has-a11y[open] summary {
    color: var(--ac);
    animation: blinking 3s step-end infinite;
}

#a11y {
    --border: 1pt solid var(--fg); 
    display: grid;
    position: fixed;
    right: 3.2rem;
    bottom: 3rem;
    border-radius: 9pt;
    background: var(--bg);
    padding: 1rem;
    width: max-content;
    max-width: calc(100vw - 3rem);
    line-height: 1;
    gap: 1pc;
}

@media only screen and (max-width: 1024px) {
    #a11y {
        right: 1.5rem;
        bottom: 6rem;
    }
}

#noLocalStorage {
    margin: auto;
    max-width: 21rem;
    font-size: 1rem;
}

button,
input,
label {
    cursor: pointer;
}

#a11y-menu,
fieldset {
    margin: 0;
    border: none;
    padding: 0;
}

#a11y input[type='checkbox'],
#a11y input[type='radio'] {
    position: absolute;
    clip-path: circle(0);
}

#a11y-menu,
#setColorScheme,
#setContrast > div,
#setFontSize > label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    white-space: nowrap;
}

#a11y-menu > .has-aria-label,
#lightSwitchIndicator,
#setContrast {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

#setContrast {
    flex: 1;
    margin: 0 0 0 1ex;
    border-left: 1pt dotted var(--g18);
    padding-left: 1ex;
}

/*  label */

.has-aria-label::before {
    display: block;
    font-family: var(--rm), serif;
    content: attr(aria-label);
}

#a11y-menu > .has-aria-label {
    background: inherit;
    padding: 1pt 1ex;
    color: var(--fg);
    font-size: 0.9rem;
}

#lightSwitchIndicator::after {
    color: inherit;
    font-size: 1rem;
}

#fontSizeState::after {
    font-size: 0.5em;
    content: 'pt';
}

#has-a11y-summary::before {
    font-family: 'a11y-ui';
    content: '\e901';
}

#setContrast input + label::before {
    font-family: 'a11y-ui';
    content: '\e904\a0';
}

#setContrast input:checked + label::before {
    content: '\e903\a0';
}

#resetButton::after {
    font: 1.4em 'a11y-ui';
    content: '\e90f';
}

#closeButton::after {
    font: 1.4em 'a11y-ui';
    content: '\e913';
}

/*  button  */

.button {
    border: 1pt solid #0000;
    border-radius: 5pt;
    box-shadow: 2pt 2pt #0000;
}

#a11y,
.button:hover {
    border: var(--border);
    box-shadow: 2pt 2pt #80808080;
}

#lightSwitch + label > #lightSwitchIcon {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    transform: scale(0.75);
    --size: 1.414em;
    display: block;
    outline: none;
    border-radius: 2em;
    box-shadow: inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
    width: var(--size);
    height: var(--size);
    color: #fa0;
    content: '';
    transition: 1s;
}

#lightSwitch:checked + label > #lightSwitchIcon {
    transform: scale(1);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
}

#setContrast label {
    transition: 99ms;
    border-radius: 1pc;
    padding: 2pt 7pt 2pt 3pt;
    font-size: 1rem;
}

#setContrast input:checked + label {
    background: var(--fg);
    color: var(--bg);
}

#saveButton {
    flex:1;
    border: var(--border) !important;
    background: inherit;
    color: var(--fg);
    font-family: initial;
}

#fontSize {
    accent-color: var(--ac);
}