@-webkit-keyframes underline {
    from {
        border-image: linear-gradient(to right, transparent, transparent) 1;
    }

    50% {
        border-image: linear-gradient(to right, var(--ac), transparent) 1;
    }

    to {
        border-image: linear-gradient(to right, var(--ac), var(--ac)) 1;
    }
}

@-moz-keyframes underline {
    from {
        border-image: linear-gradient(to right, transparent, transparent) 1;
    }

    50% {
        border-image: linear-gradient(to right, var(--ac), transparent) 1;
    }

    to {
        border-image: linear-gradient(to right, var(--ac), var(--ac)) 1;
    }
}

@keyframes underline {
    from {
        border-image: linear-gradient(to right, transparent, transparent) 1;
    }

    50% {
        border-image: linear-gradient(to right, var(--ac), transparent) 1;
    }

    to {
        border-image: linear-gradient(to right, var(--ac), var(--ac)) 1;
    }
}

@-webkit-keyframes blinking {
    from, to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-moz-keyframes blinking {
    from, to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes blinking {
    from, to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-webkit-keyframes expand {
    from {
        -webkit-transform: scale(1 , 0);
    }

    to {
        -webkit-transform: scale(1 , 1);
    }
}

@-moz-keyframes expand {
    from {
        -moz-transform: scale(1 , 0);
    }

    to {
        -moz-transform: scale(1 , 1);
    }
}

@keyframes expand {
    from {
        -ms-transform: scale(1 , 0);
         -o-transform: scale(1 , 0);
            transform: scale(1 , 0);
    }

    to {
        -ms-transform: scale(1 , 1);
         -o-transform: scale(1 , 1);
            transform: scale(1 , 1);
    }
}
