.has-pre::before,
.has-post::after,
.has-desc:after {
    display: inline-block;
    color: var(--mid);
    font-size: 0.9em;
    font-weight: normal;
    content: attr(aria-description);
}

.list-day > li,
#taxonomy li {
    margin: 0 0 1rem;
}

#home .list-day {
    padding-left: 6rem !important;
}

#feed > h1,
#feed > hgroup,
#taxonomy h1,
#taxonomy > section {
    margin-bottom: 3.14rem;
}

.has-cover,
#taxonomy section,
#taxonomy > div > ul > li {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 1.618pc;
}

.ts {
    align-self: start;
    margin: 0;
    letter-spacing: 0.1ex;
    font-size: var(--Large);
    font-variant: all-small-caps;
}

.ts a {
    color: var(--fg);
}

h2 > a {
    display: inline-block;
}

#list-tags li a {
    display: flex;
    border: 1pt solid #80808080;
    border-radius: 2em;
    padding: 2pt 8pt 0;
    font-size: var(--small);
}
#list-tags li a:focus,
#list-tags li a:hover {
    border: 1pt solid var(--ac);
}

#list-tags li a::before {
    content: '#';
}

.has-cover {
    grid-template-columns: auto auto;
}

#home-nav-alt ul a,
nav.author ul {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 1ex;
    scrollbar-width: none;
}

nav.author ul a {
    padding: 1ex;
    color: var(--fg);
    font-size: 1.618rem;
}

nav.author {
    margin: auto 0 0;
    padding-top: 1.618pc !important;
}