.list-year {
    display: flex;
    position: relative;
    align-items: baseline;
}

.list-year > strong {
    margin-right: 1rem;
    background: var(--ac);
    min-width: 5rem;
    text-align: right;
    color: var(--bg);
}

* + #i18n,
.list-year.descending {
    margin-left: auto;
}

.list-year > div {
    flex: 1;
    max-width: calc(100% - var(--void) - 5rem);
    line-height: 2;
}

.list-month > summary {
    padding: 1rem 0;
    list-style: none;
}

.list-month > summary::after {
    margin-left: 1ex;
}

.list-day a {
    padding: 1ex 0 0;
    width: 100%;
}

.has-pre::before,
.has-post::after,
.has-desc:after {
    display: inline-block;
    color: var(--mid);
    font-size: 0.9em;
    font-weight: normal;
    content: attr(aria-description);
}

.list-day a.has-pre::before {
    position: absolute;
    left: -5rem;
    padding-top: 0.42em;
    width: 4rem;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 0.7em;
}

.list-day > li,
#taxonomy li {
    margin: 0 0 1rem;
}

#feed h1,
#taxonomy h1,
#taxonomy > section {
    margin-bottom: 3.14rem;
}

.has-cover,
#taxonomy section,
#taxonomy > div > ul > li {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 1.618pc;
}

.ts {
    align-self: start;
    margin: 0;
    letter-spacing: 0.1ex;
    font-size: var(--Large);
    font-variant: all-small-caps;
}

.ts a {
    color: var(--fg);
}

#list-tags li a::before {
    content: '#';
}

/*  */

.has-cover {
    grid-template-columns: auto auto;
}

#home-nav-alt ul a,
nav.author ul {
    display: flex;
    gap: 1ex;
}

nav.author ul a {
    padding: 1ex;
    color: var(--fg);
    font-size: 1.618rem;
}

nav.author {
    margin: auto 0 0;
    padding-top: 1.618pc !important;
}