/*  _____     _      _   _    ____  __   __
    |  ___|  / \    | \ | |  / ___| \ \ / /
    | |_    / _ \   |  \| | | |      \ V /
    |  _|  / ___ \  | |\  | | |___    | |
    |_|   /_/   \_\ |_| \_|  \____|   |_|

    <svg id='logotype__svg'
        xmlns...
        width='<!--estimated width-->'
        >
        <text id='logotype__svg__text'y='74%'>
         FANCY LOGOTYPE
        </text>
    </svg>

    simplified from :
    https://codepen.io/alvarotrigo/pen/rNbxNWg */

#logo {
    overflow: hidden;
}

#logo #logotype__text {
    --anm: dash 30s infinite alternate;
    text-transform: uppercase;
    letter-spacing: 0.2ex;
    font-size: 18pt;
    font-weight: 550;
    stroke: var(--off);
    stroke-width: 1px;
}

#logo a:focus #logotype__text {
    --anm: none;
    outline-color: var(--off);
    stroke: none;
}

@-webkit-keyframes dash {
    0% {
        fill:var(--off);
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
    }

    100% {
        fill: #0000;
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -20%;
    }
}

@-moz-keyframes dash {
    0% {
        fill: var(--off);
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
    }

    100% {
        fill: #0000;
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -20%;
    }
}

@keyframes dash {
    0% {
        fill: var(--off);
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
    }

    100% {
        fill: #0000;
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -20%;
    }
}