:root {
    --g18: #80808080;
    --golden-ratio: 61.803398%;
    --canonic: 70.710678%;
    --max-width: 62rem;
    --tiny: 0.618rem;
    --scriptsize: 0.786rem;
    --footnotesize: 1rem;
    --small: 1.111rem;
    --normalsize: 1.272rem;
    --large: 1.414rem;
    --Large: 1.618rem;
    --LARGE: 2.058rem;
    --huge: 2.618rem;
    --Huge: 3.33rem;
    --void: calc((29.289322vw - 1rem) / 3.14); /* 100vw - 70.710678vw */
    --vhead: 4.2rem;
    --void: unset;
    --fontScale: 1;
    --border: 1pt solid #8881;
    --pencil: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAADwCAMAAAAdMkUEAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAABhQTFRFf39/R3BMf39/f39/f39/f39/f39/f39/7LcSVgAAAAh0Uk5TVAAfKDI+SmRRJIFoAAAA1klEQVR42lWSAQqEQAwDZ9sm+/8fH8SinBSZjmlFXM5him6mmKKaaaroii8qEPMnq+mOmdyftgMxaVGjYRpVIKVZOf+mnm2fYdYEGqXeWQ+K79nWO5iYyEge9XprgWYEAwa4BnFJQAAI/IEDJixsMNdccheXve5Na9IkEBzBXjtFjMwdDFdkZzgQg4lfuQxYu+SKfdvKmA2n+Hi8MZxK0gtIWMjv8m+/dxUeECKdIFMj7JQ2Y+F4GhnSovDzyc2I6u+XTUpD9x5LFWpq5XsCF+rhwDmc8wNw0QbdMAZVUwAAAABJRU5ErkJggg==");
    text-rendering: optimizeLegibility;
    font-kerning: auto;
    font-size: calc(10pt * var(--fontScale));
    -webkit-font-feature-settings: 'kern' 1;
            font-feature-settings: 'kern' 1;
    -webkit-hyphenate-after: 3;
            hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
            hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
            hyphenate-lines: 2;
    -webkit-hyphens: auto;
            hyphens: auto;
    kerning: auto;
    orphans: 2;
    widows: 2;
    scroll-behavior: smooth;
    scroll-padding-block-start: var(--vhead);
}