<details id="has-a11y" class="presentation js-details hide" name="on-deck" aria-haspopup="true" aria-labelledby="has-a11y-summary"
    data-i18n-appearance="{{ i18n "appearance" }}"
    data-i18n-colorSettings="{{ i18n "colorSettings" }}"
    data-i18n-darkMode="{{ i18n "darkMode" }}"
    data-i18n-light="{{ i18n "light" }}"
    data-i18n-dark="{{ i18n "dark" }}"
    data-i18n-contrast="{{ i18n "contrast" }}"
    data-i18n-lessContrast="{{ i18n "lessContrast" }}"
    data-i18n-moreContrast="{{ i18n "moreContrast" }}"
    data-i18n-defaultContrast="{{ i18n "defaultContrast" }}"
    data-i18n-fontSize="{{ i18n "fontSize" }}"
    data-i18n-menuControls="{{ i18n "menuControls" }}"
    data-i18n-save="{{ i18n "save" }}"
    data-i18n-reset="{{ i18n "reset" }}"
    data-i18n-close="{{ i18n "close" }}"
    data-i18n-noLocalStorage="{{ i18n "noLocalStorage" }}">
</details>